"""{{ description }}."""

__version__ = "0.1.0"


def hello() -> str:
    """Return a greeting message.

    Returns:
        A friendly greeting string.
    """
    return "Hello from {{ project_name }}!"
